<h1>Fridge of {{currentUser.name}}</h1>

<div>
  <p>Add ingredients to your fridge:</p>
  <input id="ingredient-input" type="text" placeholder="Search.." name="search">
  <button id="fridge-add" class="btn btn-warning">Add</button>
</div>

<div>
  <h3>Ingredients I have at home:</h3>
  <ul id="ingredient-list">
  {{#each ingredients}}
          <span class="ingredient">
          <li class="ingredient-name" id="{{name}}">{{name}}</li>
          <button id="btn-delete" class="btn btn-danger">Remove</button>
          </span>
  {{/each}}
  </ul>
</div>

<div>
<a href="/recipes/results" class="btn btn-warning">Find inspiration</a>
<a href="/newrecipe" class="btn btn-warning">Create your own recipe</a>
</div>


<div class="container">
  <h3>All of your favourite recipes!</h3>
  <div id="favorites-list" class="row row-cols-1 row-cols-md-2">
    {{#each favouriteRecipes}}
    <div id="favourite-recipe" class="col mb-4">
      <div class="card card-list">
        <a href="/recipes/detail/{{id}}">
          <p id="recipeId">{{_id}}</p>
          <img src="{{imgPath}}" class="card-img-top" alt="Recipe">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
          </div>
        </a>
         <button id="recipe-delete" class="btn btn-danger">Remove</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>