
<div class="hero-fridge">
  {{!-- <h1 id="main-title" class="hero-text">Buy some Thyme</h1> --}}
  <h2 class="d-flex justify-content-center hero-text">Fridge of {{currentUser.name}}</h2>

  {{!-- <img src="https://source.unsplash.com/4J059aGa5s4/2000x600"> --}}
</div>

{{!-- <h2 class="d-flex justify-content-center hero-text">Fridge of {{currentUser.name}}</h2> --}}

<div class="container" id="fridge">
  <div class="column">
  <h3 id="column-title">Add ingredients to your fridge:</h3>
  <input id="ingredient-input" type="text" placeholder="Search.." name="search">
  <button id="fridge-add" class="btn btn-warning">Add</button>
</div>

<div class="column"> 
  <h3 id="column-title">Ingredients I have at home:</h3>
  <ul id="ingredient-list">
  {{#each ingredients}}
          <span class="ingredient">
          <li class="ingredient-name" id="{{name}}">{{name}}</li>
          <button id="btn-delete" class="btn btn-danger">Remove</button>
          </span>
  {{/each}}
  </ul>
</div>
</div>


<div class="button-group">
<a id="inspiration-button" href="/recipes/results" class="btn btn-warning">Find inspiration</a>
{{!-- <a id="create-button" href="/newrecipe" class="btn btn-warning">Create your own recipe</a> --}}
</div>


<div class="container favourite-recipes-list">
  <h3 id="favourite-title">All of your favourite recipes:</h3>
  <div id="favorites-list" class="row row-cols-1 row-cols-md-2">
    {{#each favouriteRecipes}}
    <div id="favourite-recipe" class="col mb-4">
      <div class="card card-list">
        <a href="/recipes/detail/{{id}}">
          <p hidden id="recipeId">{{_id}}</p>
          <img src="{{imgPath}}" class="card-img-top" alt="Recipe">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
          </div>
        </a>
         <button id="recipe-delete" class="btn btn-danger">Remove</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>