<div class="container">
  <div class="row justify-content-center">
    <div class="card mb-3">
      <img src="{{recipe.imgPath}}" class="card-img-top" alt="Recipe">
      <div class="card-body" id="recipe">
        <h5 class="card-title">{{recipe.title}}</h5>
        <ul>
          <li>duration: {{recipe.duration}}</li>
        </ul>

        <div>
          <h6>Available ingredients</h6>
          <ul>
            {{#each availableIngredients}}
            <li>{{this.name}}</li>
            {{/each}}
          </ul>
        </div>

        <div>
          <h6>Missing ingredients</h6>
          <ul>
            {{#each missingIngredients}}
            <li>{{this.name}}</li>
            {{/each}}
          </ul>
        </div>

        <p>{{recipe.description}}</p>
      </div>
      <div class="card-body">

        <div class="row justify-content-around">
          <a href="/shoppinglist/{{recipe.id}}" class="btn btn-success col-md-5 ">I want to make this recipe!</a>
          <a href="javascript:window.print()" class="btn btn-success col-md-5">Download recipe</a>
          {{!-- <a href="/recipes/{{recipe.id}}/update" class="btn btn-warning col-md-5 ">Update recipe</a> --}}
          {{!-- <a href="/recipes/{{recipe.id}}/delete" class="btn btn-danger col-md-5">Delete recipe</a> --}}
          {{!-- change href --}}
        </div>
      </div>
    </div>
  </div>
</div>

