<div class="container">
  <div class="row justify-content-center">
    <div class="card mb-3">

      <div class="card-body" id="recipe">
        <h5 class="card-title detail-title text-center">{{recipe.title}}</h5>

        <div class="container ">
          <div class="row">
            <div class="col-6">
              <img src="{{recipe.imgPath}}" class="card-img-top detail" alt="Recipe">
            </div>
            <div class="col-6 d-flex align-items-center flex-column justify-content-center">
              <div id="avail-ingredients">
                <h6>Available ingredients</h6>
                <ul>
                  {{#each availableIngredients}}
                  <li>{{this.name}}</li>
                  {{/each}}
                </ul>
              </div>
              <div>
                <h6>Missing ingredients</h6>
                <ul>
                  {{#each missingIngredients}}
                  <li>{{this.name}}</li>
                  {{/each}}
                </ul>
              </div>
              <div>
                {{!-- <h6>Duration</h6> --}}
                  <p><span id="duration">Duration:</span> {{recipe.duration}} minutes</p>
              </div>
            </div>
          </div>
        </div>

        <p id="card-description">{{recipe.description}}</p>

        <p id="recipeId" hidden>{{recipe.id}}</p>
      </div>
      <div class="card-body">

        <div class="row justify-content-around flex-column d-flex align-items-center">
          <a href="/shoppinglist/{{recipe.id}}" class="btn btn-warning col-md-3 ">I want to make this recipe!</a>
          <a href="/fridge" id="favourite" class="btn btn-warning col-md-3">Add to favourites</a>
            <a href="javascript:window.print()" class="btn btn-success col-md-3 btn-download">Download recipe</a>
          {{!-- <a href="/recipes/{{recipe.id}}/update" class="btn btn-warning col-md-5 ">Update recipe</a> --}}
          {{!-- <a href="/recipes/{{recipe.id}}/delete" class="btn btn-danger col-md-5">Delete recipe</a> --}}
          {{!-- change href --}}
        </div>
      </div>


    </div>
  </div>
</div>